
body{
    margin:0;
    position: relative;
    font-family:'Galyon';
}
/* 텍스트 드래그 방지 */
p, h1, h2, h3, h4, a{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* 이미지 드래그 방지. */
img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.loading{
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background: blue;
    z-index:1000;
}
.loading div{
    position: absolute;
    left: 50%;
    top: 50%;
    color:white;
}
#loading_page{
    width: 100px;
    height: 100px;
    top:-50%;
    background-color: black;
}
#loading_page2{
    left:40%;
    width: 100px;
    height: 100px;
    top:-50%;
    background-color:bisque;
}
.top{
    float: left;
    width: 100%;
    position: fixed;
    z-index: 9;
}
#top_background{
    width: 100%; 
    position: relative;
    float: left;
    height: 500px;
}
#banner{
    top:0px;
    float: left;
    background-color: blue;
    width: 150%; 
    position: fixed;
    overflow: hidden;
    height: 35px;
    z-index: 11;
}

#banner_icon{
    float: left;
    width: 42px;
    /* margin-right:10px; */
    margin-top:3px;
}
#banner_text{
    float: left;
    height: 18px;
    margin-top:8px;
    margin-right: 10px;
}
#banner_in{
    /* overflow: hidden;  */
    position: absolute;
}
#banner_in div{
    position: absolute;
}
#banner_icon{
    position: absolute;
    width: 25px;
    top:2px;
}
#banner_text{
    position: absolute;
    left:45px;
}
/* main */
#main{
    width: 100%;
    clear: both;
    float: left;
    text-align: right;
    margin-top: 90px;
}
#main_logo{
    float: left;
    margin-left: 6%;
    /* .body랑 같음. */
    width: 180px;
    
}
#main_menu{
    position: relative;
    float: left;
    margin-top:0px;
    margin-left: 60px;
}
#main_menu li{
    float: right;
    clear: both;
    list-style-type: none;
    font-size:33px;
}
/* visited */
#main_menu li a:hover{
    color:blue;
}
#main_menu li a{
    text-decoration: none;
    color:#727272;
}
#listStyle{
    width: 11px;
    height: 12px;
    background-color: blue;
    border-radius: 50px;
    margin-right: 12px;
    margin-top: 13px;
    display: none;
}
.listStyle{
    float: left;
}

#main_sticker{
    position: fixed;
    width: 240px;
    left:70%;
    top:35%;
}

/* body */
.body{
    float: left;
    clear: both;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
}
/* about */
#about{
    float: left;
    clear: both;
    /* margin-left: 80px; */
}
#about_text{
    float: left;
    clear: both;
    margin-left: 6%;
}
#about_text h1{
    font-size: 30px;
    font-weight: bold;
}
/* popup */
.about_popup{
    text-align: center;
}
#about_popup{
    float: left;
    clear: both;
    margin-top:15%;
    text-align: center;
    max-width: 100%;
    width: 100%;
}
#about_message{
    display: inline-block;
    height: 150px;
}
#artist_icon{
    width: 40%;
    margin-bottom: 5%;
}
#artists{
    margin-left:10%;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.wrapper {
    display: grid;
    grid-gap: 5%;
    column-gap: 5%;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(7, 13%);
    width: 80%;
}
.box{
    margin: 0 auto;
}
.box img{
    width: 100%;
    height: auto;
}
#Thumbnail_name{
    max-width: 100%;
    width: 24%;
    padding-top: 11%;
    padding-bottom: 11.5%;
    opacity:0.5;
    display: none;
    background-color: black;
    position: absolute;
    color: white;
}
#overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 10;
 }
#popup {
    max-width: 700px;
    width: 80%;
    max-height: 500px;
    height: 80%; 
    padding: 50px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    margin-top: 9%;
 }
#popup_logo{
    margin: 40px 0;
    margin-top: 0px;
}
#popup_contents{
    display: grid;
        display: grid;
        grid-template-rows: repeat(4, 100px);
        grid-template-columns: repeat(3, 1fr);
        grid-gap:14px;
        row-gap:10px;
        grid-template-areas:
          "left main right"
          "left main right"
          "left aside right"
          "info contact .";
}
#popup_left { grid-area: left; }
#popup_main   { grid-area: main;   }
#popup_aside  { grid-area: aside;  }
#popup_right { grid-area: right; }
#popup_info{ grid-area : info;
text-align: left;}
#popup_contact{ grid-area : contact;
text-align: left;}

#popup_info a img{
    width: 10%;
}
/* bottom */
.bottom{
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
}
#contact{
    margin-top:10%;
    display: inline-block;
    width: 100%;
    height: auto;
}
#contact_img{
    width: 15%;
    margin:0 auto;
}
#contact_p{
    padding-top:3%;
    padding-bottom: 3%;
    width: 500px;
    margin:0 auto;

}

/* mobile */
@media (min-width: 280px) and (max-width: 480px) {
     .top{
        position: absolute;
    }
    #top_background{
        height: 320px;
    }
    #main_logo{
        width: 100px;
        margin-left: 9%;
    }
    #main_menu{
        float: right;
        margin-left: 0;
        margin-right: 9%;
        padding-left:7%;
    }
    #main_menu li{
        font-size:20px;
    }
    #main_sticker{
        position: absolute;
        width: 100px;
        clear: both;
        margin-top:250px;
        margin-left:-5%;
    }
    /* about */
    #about_text{
        margin-left:9%;
    }
    #about_text h1{
        line-height: 26px;
        font-size: 18px;
        font-weight: bold;
    }
    #about_text p{
        font-size: 10px;
    }
    #about_popup{
        margin-top:20%;
    }
    #about_message{
        height: 120px;
    }
    /* artist */
    #artists{
        margin: 0;
    }
    #artist_icon{
        width: 30%;
    }
    /* grid */
    .wrapper {
        display: grid;
        width: 90%;
        margin-left:3%;
        grid-template-columns:  repeat(2,50%);
        /* 옵션하나당 박스하나. */
        grid-template-rows: repeat(9, 10%);
        /* 박스 길이*/
        grid-gap: 20px;
        column-gap: 15px;
    }
    #popup{
        margin-top:4%;
        padding-right: 10%;
        padding-left: 10%;
        max-height: 100%;
        height: 100%;
        font-size: 12px;
    }
    #popup_logo{
        margin: 12% 0;
        margin-top:0;
    }
    #popup_contents{

        display: grid;
            display: grid;
            grid-template-rows: repeat(7, 100px 100px 40px 60px 70px 70px 50px);
            grid-template-columns: repeat(2,50%);
            /* grid-gap:74%;
            row-gap:20%; */
            grid-template-areas:
              "left left"
              "left left"
              "left left"
              "info contact"
              "main right"
              "main right"
              "aside right"
    }
    #popup_left{width:150%}
    #popup_main{width: 170px}
    #popup_aside{width: 170px}
    #popup_right{height: 278px;}
    /* contact */
    #contact_p{
        width: auto;
    }
    #contact_img{
        width: 150px;
    }
    #contact_img img{
        width: 150px;
    }
    #contact_p{
        font-size: 9px;
        margin-left: 9%;
    }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 1025px) {
    #popup{
        margin-top:40%;
    }
    #main_sticker{
        top: 25%;
    }
    /* 상세페이지가 아이패드에서 좀 위에뜸. */
}
