@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    max-width: 1500px;
    margin:0 auto;
    position: relative;
    font-family: "GmarketSansLight";
}
/* 텍스트 드래그 방지 */
p, h1, h2, h3, h4, a{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* 이미지 드래그 방지. */
img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* loading */
.loading{
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background: blue;
    z-index:1000;
}
.loading div{
    position: relative;
    float: left;
    left: 40%;
    top: -50%;
    transform: translate(-50%, -50%);
    color:white;
}
.loading div img{
    width: 100px;
    height: 100px;
}
.loading {
}
#loading_L1{clear: both;}
#loading_A{}
#loading_L2{}
#loading_tw{margin-left:50px; margin-top:0px;}

#moon{

}
#loading_x{ margin-top:25px;}
#loading_x img{ width: 75px;}
#loading_o{clear: both;}
#loading_o img{ width: 75px;}
#loading_l img{width:120px; height:auto}

/* loading */

.top{
    float: left;
    width: 100%;
    position: fixed;
    z-index: 9;
}
#top_background{
    width: 100%; 
    position: relative;
    float: left;
    height: 400px;
}
#banner{
    top:0px;
    float: left;
    background-color: blue;
    width: 150%; 
    margin-left:-20%;
    position: fixed;
    overflow: hidden;
    height: 35px;
    z-index: 11;
}

#banner_icon{
    float: left;
    width: 42px;
    /* margin-right:10px; */
    margin-top:3px;
}
#banner_text{
    float: left;
    height: 18px;
    margin-top:8px;
    margin-right: 10px;
}
#banner_in{
    /* overflow: hidden;  */
    position: absolute;
}
#banner_in div{
    position: absolute;
}
#banner_icon{
    position: absolute;
    width: 25px;
    top:2px;
}
#banner_text{
    position: absolute;
    left:45px;
}
/* main */
#main{
    width: 100%;
    clear: both;
    float: left;
    text-align: right;
    margin-top: 90px;
}
#main_logo{
    float: left;
    margin-left: 6%;
    /* .body랑 같음. */
    width: 180px;
    
}
#mo_menu{display:none;}
#main_menu{
    position: relative;
    float: left;
    margin-top:0px;
    margin-left: 60px;
}
#main_menu li{
    float: right;
    clear: both;
    list-style-type: none;
    font-size:33px;
}
/* visited */
#main_menu li a:hover{
    color:gray;
}
#main_menu li a{
    text-decoration: none;
    color:#727272;
}
#listStyle{
    width: 11px;
    height: 12px;
    background-color: blue;
    border-radius: 50px;
    margin-right: 12px;
    margin-top: 13px;
    display: none;
}
.listStyle{
    float: left;
}

#main_sticker{
    position: fixed;
    width: 240px;
    left:70%;
    top:20%;
}

/* body */
.body{
    float: left;
    clear: both;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
}
/* about */
#about{
    float: left;
    clear: both;
    /* margin-left: 80px; */
}
#about_text{
    float: left;
    clear: both;
    margin-left: 6%;
}
#about_text h1{
    font-size: 30px;
    font-weight: bold;
    font-family: "";
}
/* popup */
.about_popup{
    text-align: center;
}
#about_popup{
    float: left;
    clear: both;
    margin-top:15%;
    text-align: center;
    max-width: 100%;
    width: 100%;
}
#about_message{
    display: inline-block;
    height: 150px;
}
#artist_icon{
    width: 40%;
    margin-bottom: 5%;
}
#artists{
    margin-left:10%;
    margin-bottom: 12%;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.wrapper {
    display: grid;
    grid-gap: 5%;
    column-gap: 5%;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: repeat(6, 14%);
    width: 80%;
}
.box{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.box img{
    width: 100%;
    height: auto;
}
#Thumbnail_name{
    font-family: "GmarketSansBold";
    max-width: 100%;
    width: 24%;
    padding-top: 10.7%;
    padding-bottom: 10.7%;
    opacity: 0.5;
    display: none;
    background-color: black;
    position: absolute;
    color: white;
}
#Thumnail_img img{
    width: 100%;
    height: auto;
}
#overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 10;
 }
#popup {
    border-radius: 0.5em;
    max-width: 700px;
    width: 80%;
    max-height: 500px;
    height: 80%; 
    padding: 50px;
    padding-bottom: 0;
    position: relative;
    background: #fff;
    margin: 0 auto;
    margin-top: 9%;
 }
#popup_logo{
    margin: 40px 0;
    margin-top: 0px;
}
#m_close{
    display:none;
}
#popup_contents{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap:14px;
    row-gap:10px;
    grid-template-areas:
        "left main right"
        "left main right"
        "left aside right"
        "info contact .";
}
#popup_left { grid-area: left;}
#popup_main   { grid-area: main;}
#popup_aside  { grid-area: aside;}
#popup_right { grid-area: right;}
#popup_info{ grid-area : info;
    font-family: "GmarketSansBold";
    text-align: left;}
#popup_contact{ grid-area : contact;
text-align: left;}

#popup_info a img{
    width: 10%;
}
#popup_info{
    font-size: 17px;
    line-height: 30px;
    margin-top: 17px;
}
#popup_info p{
    margin: 0;
}
#insta{
    margin-right: 8px;
}
#popup_info a img{
    width: 22px;
}
#popup_contact{
    font-size: 15px;
    line-height: 30px;
    margin-top: 17px;
    margin-left:-200px;
}
#p_email{
    font-family: "GmarketSansLight";
    font-size: 10px;
}
#p_contact{
    font-family: "GmarketSansBold";
}
#popup_contact p{
    margin:0;
}
/* bottom */
.bottom{
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
}
#contact{
    margin-top:17%;
    display: inline-block;
    width: 100%;
    height: auto;
}
#contact_img{
    width: 10%;
    margin:0 auto;
}
#contact_p{
    padding-top:3%;
    padding-bottom: 3%;
    width: 500px;
    margin:0 auto;

}
/* PC */
@media (min-width: 1300px) and (max-width: 1400px){
    #Thumbnail_name{
        padding-top: 10.5%;
        padding-bottom: 10.3%;
    }
}
@media (min-width: 1050px) and (max-width: 1290px){
    #Thumbnail_name{
        padding-top: 10.4%;
        padding-bottom: 10.2%;
    }
}
/* Tablets */
@media (min-width: 900px) and (max-width: 1025px) {
    #popup{
        margin-top:40%;
    }
    #main_sticker{
        top: 20%;
    }
    #Thumbnail_name{
        opacity: 0;
    }
    /* 상세페이지가 아이패드에서 좀 위에뜸. */
}
/* mobile */
@media (min-width: 280px) and (max-width: 480px) {
     .top{
        position: absolute;
    }
    #top_background{
        height: 320px;
    }
    #main{
        margin-top: 72px;
    }
    #main_logo{
        width: 100px;
        margin-left: 9%;
    }
    #mo_menu{
        position: fixed;
        display: block;
        margin: -7px 71%;
        left: 0;
        right: 0;
        border-radius: 3em;
        width: 35px;
        height: 50px;
    }
    #mo_menu li{
        list-style-type: none;
        height: 4px;
        margin-top: 8px;
        background-color: blue;
    }
    #main_menu{
        position: fixed;
        /* display: none; */
        font-family: "GmarketSansLight";
        /* margin: 40px 71%; */
        left: 0;
        right: 0;
        /* 모바일 */
        margin-left: 0;
        margin-right: 9%;
        padding-left:7%;
        
    }
    #main_menu li{
        font-size:20px;
        margin-bottom: 5px;
        background-color: blue;

    }
    #main_menu li a{
        color: white;
    }
    #main_sticker{
        position: absolute;
        width: 100px;
        clear: both;
        margin-top:200px;
        margin-left:-5%;
    }
    /* about */
    #about_text{
        margin-left:9%;
    }
    #about_text h1{
        line-height: 26px;
        font-size: 18px;
        font-weight: bold;
    }
    #about_text p{
        font-size: 10px;
    }
    #about_popup{
        margin-top:20%;
    }
    #about_message{
        height: 120px;
    }
    #about_message p{
        font-size: 10px;
    }
    /* artist */
    #artists{
        margin: 0;
        /* margin-bottom: %; */
    }
    #artist_icon{
        width: 50%;
    }
    /* grid */
    .wrapper {
        display: grid;
        width: 90%;
        height: auto;
        margin-left:2.5%;
        grid-template-columns:  repeat(2,50%);
        /* 옵션하나당 박스하나. */
        grid-template-rows: repeat(9, 12%);
        /* 박스 길이*/
        grid-gap: 0px;
        column-gap: 6%;
    }
    #popup{
        margin-top:4%;
        padding-right: 10%;
        padding-left: 10%;
        max-height: 100%;
        height: 100%;
        font-size: 12px;
        overflow:scroll;
    }
    #popup_logo{
        margin: 60px 0;
        margin-top: 0px;
    }
    #m_a_logo{
        float: left;
    }
    #m_close{
        display:block;
        width: 9%;
        margin-top: 1%;
        margin-right: 4px;
        float: right;
    }
    .popup_contents{
        height: 800px;
    }
    #popup_contents{
        display: grid;
        grid-template-rows: repeat(7, 15% 15% 14% 13% 12% 17% 30%);
        grid-template-columns: repeat(3,23%);
        grid-gap: 0px;
        row-gap: 0px;
        column-gap: 26px;
        grid-template-areas:
            "left left left"
            "left left left"
            "left left left"
            "info info contact"
            "main main right"
            "main main right"
            "aside aside right"
   }
    #popup_left{width: 115%;}
    #popup_main{width: 172px;}
    #popup_aside{width: 172px;}
    #popup_right{height: 75%;}
    #popup_info{
        font-size: 17px;
        line-height: 30px;
        margin-top: 17px;
    }
    #popup_info p{
        margin: 0;
    }
    #insta{
        margin-right: 8px;
    }
    #popup_info a img{
        width: 22px;
    }
    #popup_contact{
        /* margin-left:0; */
        text-align: right;
    }
    #p_email{
        font-size: 10px;
    }
    #popup_contact p{
        margin:0;
    }
    /* contact */
    #contact_p{
        width: auto;
    }
    #contact_img{
        width: 70px;
    }
    #contact_img img{
        width: 70px;
    }
    #contact_p{
        font-size: 9px;
        margin-left: 13%;
        margin-right: 13%;
    }
    #Thumbnail_name{
        opacity: 0;
    }
    /* toggle */
    .rotate_m1{
        transition: all ease 0.5s;
        transform: rotate(45deg);
    }
    .rotate_m2{
        transition: all ease 0.5s;
        transform: rotate(135deg);
    }
}
