
body{
    margin:0;
    position: relative;
    font-family:'Galyon';
}
.top{
    float: left;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#top_background{
    width: 100%; 
    position: relative;
    float: left;
    height: 400px;
}
#banner{
    top:0px;
    float: left;
    background-color: blue;
    width: 150%; 
    position: absolute;
    overflow: hidden;
    height: 35px;
}

#banner_icon{
    float: left;
    width: 42px;
    /* margin-right:10px; */
    margin-top:3px;
}
#banner_text{
    float: left;
    height: 18px;
    margin-top:8px;
    margin-right: 10px;
}
#banner_in{
    /* overflow: hidden;  */
    position: absolute;
}
#banner_in div{
    position: absolute;
}
#banner_icon{
    position: absolute;
}
#banner_text{
    position: absolute;
    left:55px;
}
/* main */
#main{
    width: 100%;
    clear: both;
    float: left;
    text-align: right;
    margin-top: 90px;
}
#main_logo{
    float: left;
    margin-left: 6%;
    /* .body랑 같음. */
    width: 180px;
    
}
#main_menu{
    position: relative;
    float: left;
    width: 300px;
    margin-top:0px;
    margin-left: 60px;
}
#main_menu li{
    float: right;
    clear: both;
    list-style-type: none;
    font-size:33px;
}
/* visited */
#main_menu li a:hover{
    color:blue;
}
#main_menu li a{
    text-decoration: none;
    color:#727272;
}
#listStyle{
    width: 11px;
    height: 12px;
    background-color: blue;
    border-radius: 50px;
    margin-right: 12px;
    margin-top: 13px;
    display: none;
}
.listStyle{
    float: left;
}

#main_sticker{
    width: 280px;
    float: right;
    margin-right: 8%;
    margin-top: 80px;
}

/* body */
.body{
    float: left;
    clear: both;
    height: auto;
    width: 100%;
    /* overflow: hidden; */
}
/* about */
#about{
    float: left;
    clear: both;
    /* margin-left: 80px; */
}
#about_text{
    float: left;
    clear: both;
    margin-left: 6%;
}
/* popup */
.about_popup{
    text-align: center;
}
#about_popup{
    float: left;
    clear: both;
    margin: 15% 0 0 0;
}
#about_message{
    float: left;
    clear: both;
}
#artists{
    float: left;
    clear: both;
}
.wrapper {
    display: grid;
    
    grid-template-columns: 380px 380px 380px;
    /* 옵션하나당 박스하나. */
    grid-template-rows: 380px;
    /* 옵션하나당 한줄 */
    grid-gap: 57px;
    background-color: #fff;
    color: #444;
    height: auto;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 0px;
    padding: 20px;
    font-size: 150%;
}
#overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 10;
 }
#popup {
    max-width: 600px;
    width: 80%;
    max-height: 500px;
    height: 80%; 
    padding: 20px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    margin-top: 10%;
 }
#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
 }


 
/* bottom */
.bottom{
    float: left;
    clear: both;
    height: auto;
}
#contact{
    margin-top: 10px;
    float: left;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: cornsilk;
}

/* mobile */
@media only screen and (max-width : 400px){
    .top{
        position: absolute;
    }
    #main_logo{
        width: 100px;
    }
    #main_menu li{
        font-size:20px;
    }
    #main_sticker{
        width: 140px;
    }


    .wrapper {
        grid-template-columns: 200px;
        /* 옵션하나당 박스하나. */
        grid-template-rows: 200px;
        grid-gap: 57px;
    }
}