
body{
    margin:0;
    position: relative;
    font-family:'Galyon'
}
.top{
    width: 100%;
    position: fixed;
    z-index: 10;
}
#top_background{
    position: relative;
    float: left;
    width: 100%;
    height: 620px;
}
#banner{
    top:0px;
    float: left;
    background-color: blue;
    left:-20%;
    width: 150%; 
    position: absolute;
    overflow: hidden;
    height: 35px;
}

#banner_icon{
    float: left;
    width: 42px;
    /* margin-right:10px; */
    margin-top:3px;
}
#banner_text{
    float: left;
    height: 18px;
    margin-top:8px;
    margin-right: 10px;
}
#banner_in{
    /* overflow: hidden;  */
    position: absolute;
}
#banner_in div{
    position: absolute;
}
#banner_icon{
    position: absolute;
}
#banner_text{
    position: absolute;
    left:55px;
}
/* main */
#main{
    width: 100%;
    clear: both;
    float: left;
    margin-top: 60px;
}
#main_logo{
    float: left;
    margin-left: 5%;
    width: 180px;
}
#main_menu{
    float: left;
    margin-top:0px;
    /* margin-left: 60px; */
    text-align: right;
}
#main_menu li{
    list-style-type: none;
    margin-bottom: 10px;
    font-size:33px;
}
/* visited */
#main_menu li a:hover{
    color:blue;
}
#main_menu li a{
    text-decoration: none;
    color:#727272;
}
#listStyle{
    width: 11px;
    height: 12px;
    background-color: blue;
    border-radius: 50px;
}

#main_sticker{
    width: 280px;
    float: right;
    margin-right: 8%;
    margin-top: 80px;
}
/* about */
#about{
    float: left;
    clear: both;
    /* margin-left: 80px; */
}
/* body */
.body{
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    background-color: cornsilk;
}
/* popup */
 .wrapper {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    height : 470px
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 0px;
    padding: 20px;
    font-size: 150%;
}
#overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 10;
 }
#popup {
    max-width: 600px;
    width: 80%;
    max-height: 500px;
    height: 80%; 
    padding: 20px;
    position: relative;
    background: #fff;
    margin: 20px auto;
    margin-top: 20%;
 }
#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
 }

/* bottom */
.bottom{
    float: left;
    clear: both;
    height: auto;
}
#contact{
    margin-top: 10px;
    float: left;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: cornsilk;
}

/* mobile */
@media only screen and (max-width : 400px){
    .top{
        position: absolute;
    }
    #main_logo{
        width: 100px;
    }
    #main_menu li{
        font-size:20px;
    }
    #main_sticker{
        width: 140px;
    }
}